<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            background-color: burlywood;
            width: 350px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm" novalidate="true">
            <p v-if="errors.length">
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <label for="name">Name</label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
            <br>
            <label for="addres">Address</label><br>
            <textarea :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address" cols="22" rows="5"></textarea>
            <br>
            <label for="no_hp">No HP</label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateData(idMembers)">
                <input type="button" value="CANCLE" style="margin-top: 10px;" @click="cancleEdit">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile"><br>
                <input type="button" value="UPLOAD" @click="submitFoto(idMembers)">
                <input type="button" value="CANCLE" style="margin-top: 10px;" @click="cancleEdit">
            </div>


        </form>


        <members-component :members="members" @edit="editData" @remove="removeData" @upload="uploadFoto" />

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const MembersComponent = {
            template: `
            <div>
                <table border="1" v-if="members">
                    <tr v-for="(member, index) in members" :key="index">
                        <td width="100px">
                            <img width="100" :src="member.photo_profile ? baseUrl + member.photo_profile : 'https://dummyimage.com/600x400/000/fff'" :alt="'gambar-' + index">
                        </td>
                        <td width="400px">
                            <b>Nama : </b>{{ member.name }} <br>
                            <b>Address : </b>{{ member.address }} <br>
                            <b>No HP : </b>{{ member.no_hp }}
                        </td>
                        <td width="100px">
                            <button @click="$emit('edit', member)">Edit</button>
                            <button @click="$emit('remove', member.id)">Delete</button>
                            <button @click="$emit('upload', member)">Upload Foto</button>
                        </td>
                    </tr>
                </table>
            </div>
            `,
            data: function() {
                return {
                    baseUrl: 'http://demo-api-vue.sanbercloud.com/'
                }
            },
            props: ['members']

        }

        var vm = new Vue({
            el: '#app',
            data: {
                members: [],
                baseUrl: 'http://demo-api-vue.sanbercloud.com/',
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                buttonStatus: 'submit',
                idMembers: null,
                photo_profile: ''

            },
            components: {
                'members-component': MembersComponent
            },
            methods: {
                formValidation() {
                    this.errors = []
                    if (this.name.length < 5) {
                        this.errors.push('name minimal 5 karakter')
                        this.$refs.name.focus()
                    }
                    if (this.address.length > 10) {
                        this.errors.push('address tidak boleh lebih dari 10 karakter')
                        this.$refs.address.focus()
                    }
                    if (this.no_hp.length > 12) {
                        this.errors.push('no_hp tidak boleh lebih dari 12 karakter')
                        this.$refs.no_hp.focus()
                    }
                },
                submitForm() {
                    this.formValidation()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                // handle success
                                alert('sukses')
                                this.clearForm()
                                this.getData()

                            })
                            .catch((error) => {
                                // handle error
                                console.log(error);
                            })
                    }
                    console.log(this.errors)
                },
                getData() {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }

                    axios(config)
                        .then((response) => {
                            // handle success
                            this.members = response.data.members
                                //console.log(this.members);
                        })
                        .catch((error) => {
                            // handle error
                            console.log(error);
                        })
                },
                clearForm() {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.idMembers = null
                },
                removeData(id) {
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }

                    axios(config)
                        .then((response) => {
                            // handle success
                            alert('sukses')
                            this.clearForm()
                            this.getData()
                        })
                        .catch((error) => {
                            // handle error
                            console.log(error);
                        })
                },
                editData(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.idMembers = member.id

                    this.buttonStatus = 'update'
                },
                cancleEdit() {
                    this.clearForm()
                    this.buttonStatus = 'submit'
                },
                updateData(idMembers) {
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${idMembers}`,
                        params: {
                            _method: "PUT"
                        },
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            // handle success
                            alert('sukses')
                            this.clearForm()
                            this.getData()
                            this.buttonStatus = 'submit'
                        })
                        .catch((error) => {
                            // handle error
                            console.log(error);
                        })
                },
                uploadFoto(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.idMembers = member.id

                    this.buttonStatus = 'upload'
                },
                submitFoto(idMembers) {
                    let file = this.$refs.photo_profile.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${idMembers}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            // handle success
                            alert('sukses')
                            this.clearForm()
                            this.getData()
                            this.buttonStatus = 'submit'
                        })
                        .catch((error) => {
                            // handle error
                            console.log(error);
                        })
                }
            },
            created() {
                this.getData()
            }
        })
    </script>
</body>

</html>