<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aplikasi Vue #7: Direktif untuk Perulangan</title>
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

    <!-- elemen kontainer untuk aplikasi -->
    <div id="todo-list-example">

        <input v-model="newMhs" id="new-mhs">
        <button v-if="btnAdd" @click="addNewMhs">Add</button>
        <button v-else="btnUpdate" @click="updateMhs">Update</button>

        <ul>
            <li is="data-mhs" v-for="(user, index) in users" v-bind:key="user.id" v-bind:name="user.name" v-on:remove="users.splice(index, 1)" v-on:edit="newMhs = user.name, btnAdd = false, indexnya = index"></li>
        </ul>
    </div>

    <script>
        Vue.component('data-mhs', {
            template: '\
        <li>\
            {{ name }}\
            <button v-on:click="$emit(\'remove\')">Delete</button> ||\
            <button v-on:click="$emit(\'edit\')">Edit</button>\
        </li>\
  ',
            props: ['name']
        })

        new Vue({
            el: '#todo-list-example',
            data: {
                btnAdd: true,
                btnUpdate: false,
                newMhs: '',
                users: [{
                    id: 1,
                    name: 'Wisnu Yudistirawan',
                }, {
                    id: 2,
                    name: 'Ariel Noah',
                }, {
                    id: 3,
                    name: 'Ucup Surucup'
                }],
                nextUserId: 4,
                indexnya: ''
            },
            methods: {
                addNewMhs: function() {
                    this.users.push({
                        id: this.nextUserId++,
                        name: this.newMhs
                    })
                    this.newMhs = ''
                },
                updateMhs: function() {
                    this.btnAdd = true
                    this.btnUpdate = false
                    this.users[this.indexnya].name = this.newMhs
                    this.newMhs = ''
                }
            }
        })
    </script>
</body>

</html>